@use './src/styles/vars';

.textPrivacy {
margin-left: 20em;
margin-right: 20em;
}

.titleh2 {
  line-height: 3 ;
  font-size: 30px;;
}

.titleh1 {
line-height: 3;
}

.textPrivacy {
// justify-content: center;
//max-width: 90%;
margin-left: 10rem;
margin-right: 10rem;
}

.bold {
font-weight: 600;
}
