
@use './src/styles/vars';
.fs-2{
    font-size: 20rem;
}
.one-recipe-img-404{
    width: 50%;
    height: 24rem;
}

.one-recipe-404{
    width: 50%;
    margin: 1rem;
    border: 0.1rem solid vars.$grey-omiam;
    border-radius: vars.$raduis-img;
    position: relative;
    background: linear-gradient(0deg, vars.$white 2%, vars.$blue-omiam 20%);
    display: inline flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    z-index: -2;
}
.icon-stainer{
    position: fixed;
    top: 44%;
    font-size: 10rem;
    animation: 
      moveCup 30s linear infinite,
      spinner 8s linear infinite;
}
.icon-rolls{
    position: fixed;
    top: 60%;
    font-size: 15em;
    animation: 
      moveCup 3s linear infinite,
      spinner 1s linear infinite;
}
.icon-ladle{
  position: fixed;
  top: 10%;
  font-size: 12em;
  animation: 
    moveCup 3s linear infinite,
    spinner 1s linear infinite;
}
.icon-whisk{  
  position: fixed;
  top: 42%;
  font-size: 2em;
  animation: 
    moveCup 12s linear infinite,
    spinner 1s linear infinite;
}
.icon-glass{  
  position: fixed;
  top: 52%;
  font-size: 5em;
  animation: 
    moveCup 4.2s linear infinite,
    spinner 2s linear infinite;
}
.icon-bottle{  
  position: fixed;
  top: 0%;
  font-size: 15em;
  animation: 
    moveCup 10s linear infinite,
    spinner 5s linear infinite;
}
.icon-fork{  
  position: fixed;
  top: 34%;
  font-size: 2em;
  animation: 
    moveCup 3s linear infinite,
    spinner 1s linear infinite;
}
.icon-teapot{
  position: fixed;
  top: 6%;
  font-size: 9em;
  animation: 
    moveCup 9s linear infinite,
    spinner 5s linear infinite;
}
.icon-chicken{
  position: fixed;
  top: 60%;
  font-size: 5em;
  animation: 
    moveCup 15s linear infinite,
    spinner 6s linear infinite;
}
.icon-spatula{
  position: fixed;
  top: 33%;
  font-size: 11em;
  animation: 
    moveCup 5s linear infinite,
    spinner 3.3s linear infinite;
}
.icon-pan{
  position: fixed;
  top: 13%;
  font-size: 11em;
  animation: 
    moveCup 5s linear infinite,
    spinner 3.3s linear infinite;
}
@keyframes moveCup {
    0%{
      left: -30%;
    }
    100% { 
      left: 100%;
    }
  }
  @keyframes spinner {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  