@use 'reset';
@use 'vars';
@use 'fonts';
@use 'icons';

body{
  text-align:center;
  color: vars.$grey-omiam;
  font-family: 'font-main';
}
h2, h1 {
  font-family: 'font-title';
}
h1{
  font-size: 2.5rem;
  margin: 1rem 0;
}

h2{
  font-size: 2rem !important; 
}
 
h3{
  margin: 1rem 0;
  font-weight: 900;
}
.size-logo{
  margin: 0 0 0 1rem;
  font-size: 2rem;
}
input[type="text"], select, input.ingredients-type, .createdRecipe input[type=number], input#pseudo  {
  //width: 90%;
  border-radius: vars.$raduis-img;
  border: 0.5px solid vars.$grey-omiam;
  padding: 0.5rem;

}
input[type="file"], 
input#fileUploadUser,
input[type="password"] {
  // font-family: 'font-main';
  background-color: #fff;
  border-radius: 0.3rem;
  border: 0.5px solid vars.$grey-omiam;
  padding: 0.5rem;
}
input[type="email"] {
  // font-family: 'font-main';
  background-color: #fff;
  border-radius: 0.3rem;
  border: 0.5px solid vars.$grey-omiam;
  padding: 0.5rem;
}

textarea {
  // font-family: 'font-main';
  background-color: #fff;
  border-radius: 0.3rem;
  border: 0.5px solid vars.$grey-omiam;
  padding: 0.5rem;
  font-size: 1em !important;
  &::placeholder{
    font-size: 1em !important;
  }
}

select{
  border: none;
  border: 0.01rem solid vars.$grey-omiam;
}
::placeholder{
  font-family: 'font-main' !important;
  font-size: 1.5rem;
  padding: 0.1rem 0;
  color: #2121217a;
  font-weight: 900;
  width: 100%;
}

span.send-button-submit {
  font-size: 1.5rem;
  font-weight: 900;
  margin: 0 1rem 0 0;
  font-family: 'font-main';
}
button{
  color: vars.$white;
  cursor: pointer;
  margin: auto;
  border: 0.1rem solid vars.$grey-omiam;
  display: flex;
  align-items: center;
  font-weight: bold;
  border-radius: vars.$raduis-img;
  padding: 0.5rem 1rem;
  background: vars.$grey-omiam;
  font-family: 'font-main';
  font-size: 1.5rem;
  &.send-button {
    background: vars.$blue-omiam;
    &:hover .icon-oven:before {
      content: "\e904";
    }
  }
}
.bold{
  font-weight: 900;
}
.illustration{
  width:50%;
}

.opacity{
  opacity: 0.8;
}
.maxLength{
  opacity: 0.8; 
  margin: 1rem 0;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

span .icon-miam{
  transition: rotate 0.5s ease !important;
  &:hover{
    rotate: -150deg !important;
  }
}


#root{
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
