@use 'reset';
@use 'vars';
@use 'fonts';
@use 'icons';

body{
  text-align:center;
  color: vars.$grey-omiam;
  font-family: 'font-main';
}
h2, h1 {
  font-family: 'font-title';
}
h1{
  font-size: 5rem;
}
h2{
  font-size: 2rem;
}
.logo{
  color:  vars.$blue-omiam;
  &-slogan{
    display: block;
    font-size: 2rem;
    margin: -1rem 0 0 0;
    color: vars.$grey-omiam;
  }
  
}
