@use 'reset';
@use 'vars';
@use 'fonts';
@use 'icons';

body{
  text-align:center;
  color: vars.$grey-omiam;
  font-family: 'font-main';
}
h2, h1 {
  font-family: 'font-title';
}
h1{
  font-size: 5rem;
}
h2{
  font-size: 2rem;
}
.logo{
  color:  vars.$blue-omiam;
  &-slogan{
    display: block;
    font-size: 2rem;
    margin: -1rem 0 0 0;
    color: vars.$grey-omiam;
  }
  
}
input[type="text"], select {
  width: 90%;
  border-radius: vars.$raduis-img;
  border: 0.01rem solid vars.$grey-omiam;
  padding: 0.5rem;

}
input[type="file"] {
  font-family: 'font-main';
  background-color: #ffffff;
}
select{
  border: none;
  border: 0.01rem solid vars.$grey-omiam;
}