@use '../../styles/vars';

.label-title {
  display: block;
  margin: 0.5rem 0;
  font-size: 1.5rem;
}
.createdRecipe{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ingredients{
  &-type{
    width: 30% !important;
  }
}
form .form{
  width: 70%;
}