@use './src/styles/vars';

.connection{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  background-color: vars.$blue-omiam;
  
  
    &-button, &-register{
      border:none;
      background-color: vars.$blue-omiam;
      font-size: 0.6rem;
      color: white;
      font-weight: bold;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }
