

.aboutuscards {
display: flex;
flex-direction: row;
justify-content: center;
width: 90%;

}

.cardsAboutUs {
  font-weight: 400;
  text-align: center;
  padding: 2rem;
  font-size: 0.9rem;
  margin: 4rem;
  border: 0.2rem solid orange;
  border-radius: 0.5rem;
}
