@use '../../../styles/vars';

.form-general {
  margin: 1rem;
}
.form-pseudo {
  margin: 1rem;
}
.form-email {
  margin: 1rem;
}
.form-topic {
  margin: 1rem;
}
.form-message {
  margin: 1rem;

}
.message-input {
  // width: 30%;
  height: 5rem;
}
