@use 'src/styles/vars';

.icon-bars {
  font-size: 1.3rem;
}

.menu {
  position: absolute;
  top: 176px;
  right: 16px;
  max-width: max-content;
  max-height: fit-content;
  transform: translateY(-45%); 
  background-color: vars.$blue-omiam;
  color: white;
  transition: all 0.3s ease-in-out;
  border-radius: 0.2rem;

    &-item {
      line-height: 1rem;
      border-bottom: 1px solid white;
      padding: 0.5rem;
      font-size: 0.8rem;
      cursor: pointer;
    }
}

.menu--closed {
    display:none;
  }



