@use './src/styles/vars';

.connection{
display: flex;
justify-content: flex-end;
align-items: flex-start;
padding: 0.2rem 0.5rem;
cursor: pointer;
background-color: vars.$blue-omiam;


  &-button, &-register{
    border:none;
    background-color: vars.$blue-omiam;
    font-size: 0.6rem;
    color: white;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 1rem 1rem 1rem;
  margin-bottom: 1.5rem;
  

  &-logo {
    display: flex;
    flex-direction: column;
    font-family: 'font-title';
    line-height: 1.8rem;

    &-title {
      color: vars.$blue-omiam;
      font-size: 4rem;
    }

    &-sloggan {
      font-size: 1.5rem;

      &-highlight{
        color: vars.$orange-omiam;
      }
    }
  }

  &-menu {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
}

.icon-bars {
  font-size: 1.3rem;
}

@media screen and (min-width: 768px){
  .header-menu-mobile {
    display: none;
  }
}

