@use 'src/styles/vars';

.navbar {
  background-color: vars.$blue-omiam;
  width: 100%;

  &-wrapper {
    color:white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto ;
    

    &-logo {
      flex:.6;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    
    &-links {
      display:flex;
      justify-content: space-evenly;
      align-items: center;
      border-radius: 0.3rem;
    }

    &-item {
      padding: 1rem;
      font-size: 0.9rem;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }

      &--active {
        background-color: vars.$grey-omiam;
        padding: 0.5rem;
        font-size: 0.9rem;
        font-weight: bold;
        border-radius: 0.3rem;
      }
    } 

    &-button {
    font-family: 'font-title';
    cursor: pointer;
    font-size: 1.5rem;
    border: 0;
    padding: 0rem 1.5rem;
    line-height: 1.8;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px vars.$grey-omiam;
    border-radius: 10px;
    background-color: vars.$grey-omiam;

    &:hover {
      transform: scale(1.1);
    }
    }
  }
}

.desktop-connexion {
  padding-right: 1.5rem;
}

.icon {
  display: none;
}

.icon-bars, .icon-lock{
    font-size: 2rem;
    padding-right: 1.5rem;
    display:none;
    cursor: pointer;
}

.icon-cook {
  font-size: 3rem;
  padding-right: 3rem;
  cursor: pointer;
}

.user-info {
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  margin: 1rem;
 

  &-avatar{
    width: 120px;
    border-radius: 100%;
  }

  &-pseudo{
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.5rem;
  }

  &-icon {
    font-size: 1.5rem;
  }
}


@media screen and (max-width: 768px) {
  .navbar-wrapper-links, .navbar-wrapper-button, .desktop-connexion {
    display: none;
  }

  .icon-bars, .icon-lock, .icon-cook-menu  {
    display: inline-block;
    padding-right: 1.5rem;
    font-size: 2rem;
  }

  .icon {
    display:flex;
    flex-direction: row;
    display: block;
  }

  .user-info {
    padding-bottom: 0.5rem;
  
    &-avatar{
      width: 10%;
      border-radius: 100%;
    }
  
    &-pseudo{
      color: white;
      font-weight: bold;
      font-size: 1.2rem;
      padding: 0.5rem;
    }
  }

  /*.navbar-wrapper-item {
    display: flex;
    flex-direction: row;
    width: 70vw;
    justify-content: flex-end;
    border-bottom: 1px solid white;
    

    &-item:first-child {
      border-radius: 0.3rem 0 0 0.3rem;
    }

    &-item:last-child {
      border-radius: 0 0.3rem 0.3rem 0;
    }
  }*/
}
